<div class="col-md-6 col-md-offset-3">
    
   <div class="row"><h2><i>Welcome {{currentUser.userName}}!</i></h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    
    </div>
<div class="panel-body">
     <div class="row">
        
        <div class="col-md-4"> 
            <input type="text" [(ngModel)]='listFilter' placeholder="Book & Author Name"/><span class="glyphicon glyphicon-search" style="color:gray"></span>
        </div>&nbsp;&nbsp;&nbsp;
          <div class="col-md-offset-3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="#" data-toggle="modal" data-target="#myModal2" style="color:black"><span class="glyphicon glyphicon-plus-sign" style="color:green"></span> Book</a>
</div>
     </div>
     </div>
</div>
