

.wrapper{
    max-width: 100%;
    background: white;
    height: 40px;
    text-align: right;
}

.marquee {
    background:white;
    white-space: nowrap;
    animation: rightThenLeft 4s linear;
}
.container{
    border: 0 solid black;
}
.router-link-active { background-color: red; }